.topdownAnimated {
    animation: fadeInTop 1s both;
    -webkit-animation: fadeInTop 1s both;
    -moz-animation: fadeInTop 1s  both;
    -o-animation: fadeInTop 1s both;
}

 @keyframes fadeInTop{
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

.leftRightAnimated{
    animation: fadeSide 2s alternate;
}

@keyframes fadeSide{
    0%,20%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }

}

.fadeInAnimated{
    animation: fadeIn 1s both;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



  @keyframes Border{
    from {
        box-shadow: 0 0 2px #fff, 0 0 3px #b6e1fa, 0 0 4px #91d0f5, 0 0 5px #79c3ee, 0 0 6px #54c0ff, 0 0 7px #32aef5, 0 0 8px #00a2ff;
      }
      
      to {
        box-shadow: 0 0 2px #fff, 0 0 3px #b6e1fa, 0 0 4px #91d0f5, 0 0 5px #79c3ee, 0 0 7px #54c0ff, 0 0 8px #32aef5, 0 0 9px #00a2ff;
      }
    }